*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.skip-color{
    color: rgb(246, 140, 10);
}
h1{
    font-size: 74px;
    font-weight: 700;
    opacity: 60%;
}
.link-order-food{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(246, 140, 10));
    color: white;
    padding: 20px;
    border-radius: 50px;
    
    

}
.food-heading{
    display: flex;
    margin-bottom: 70px;
    
}
.food-text{
    width: 50%;
    padding-left: 5%;
}

p{
    font-size: 18px;
    font-weight: 400px;
}
.jasim-cover{
   background-image: url(image/shapes/7.png);
   background-repeat: no-repeat;
   background-position: top;
   
}
.image-resiging img{
     width: 100%;
    height: 80%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 18.5%;    
}
h2{
    font-size: 40px;
    font-weight: 700;
    opacity: 60%;
}
.image-resiging02{
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 11%;

    
}
.card{
    width: 80%;
    border-radius: 5px;
    margin: 40px;
    box-shadow: 10px 10px 40px black;
}
.image img{
    width: 80%;
    padding-left: 10%;
    padding-top: 10%;
    border-radius: 20px;
    
    
}
.title{
    font-size: 400;
    margin: 10px;

}
.desh{
    font-size: 18px;
    margin: 10px;
    padding-bottom: 15px;
}
.heading{
    text-align: center;
    
}
.sub-h{
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
}


   
  





