*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header{
    
    background-image: url(image/food/Project\ Cover.png);
    background-position: top;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    color: #fc8f49;
    font-weight: bold;
}
.nav-left{
    font-size: 35px;
    margin: 15px;
    color: rgb(254, 77, 47);
    padding-right: 40%;
}
.nav-right ul li a{
    color: #fd4a2e;
    text-decoration: none;
    font-size: 35px;
    padding: 10px;
}

.skip-color{
    color: rgb(246, 140, 10);
}
h1{
    font-size: 74px;
    font-weight: 700;
    opacity: 60%;
}

.link-order-food{
    text-decoration: none;
    background-image: linear-gradient(rgb(254, 77, 47), #fc8f49);
    color: white;
    padding: 20px;
    border-radius: 50px;
    
    

}
.food-heading{
    display: flex;
    margin-bottom: 70px;
    margin-top: 30px;
    
}
.food-text{
    width: 50%;
    padding-left: 5%;
}

p{
    font-size: 18px;
    font-weight: 400px;
}
.jasim-cover{
   background-image: url(image/shapes/7.png);
   background-repeat: no-repeat;
   background-position: top;
   
}
.image-resiging img{
     width: 100%;
    height: 80%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 18.5%;    
}
h2{
    font-size: 40px;
    font-weight: 700;
    opacity: 60%;
}
.image-resiging02{
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 11%;

    
}
.card{
    width: 80%;
    border-radius: 5px;
    margin: 40px;
    box-shadow: 10px 10px 40px black;
}
.image img{
    width: 80%;
    padding-left: 10%;
    padding-top: 10%;
    border-radius: 20px;
    
    
}
.title{
    font-size: 400;
    margin: 10px;

}
.desh{
    font-size: 18px;
    margin: 10px;
    padding-bottom: 15px;
}
.heading{
    text-align: center;
    
}
.sub-h{
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
}
.end{
    background-color: black;
    padding: 5%;
}
.end-h{
    color:white;
    text-align: center;
    font-size: 40px;
}
.end-p{
    color: #666666;
    text-align: center;
  
    
}



   
  





